.publication-authors .row{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.publication-authors > .row > div {
  flex: 0 0 33%;
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

.publication-authors > .row .panel {
  box-shadow: 0px 1px 4px #aaa;
  border-radius: 4px;
  height: 100%;
}


.publication-authors .panel h2 {
  font-size: 1.9rem;
  line-height: 1.5;
  color: #3d87cb;
}